@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* DEFINICION DE VARIABLES */
:root {
    --color-background: linear-gradient(to right, #061a32, #071a33, #0d1f37, #132d4d, #0c2c51);
    --color-background-cajas: #7b83aecd;
    --color-background-footer: #142336;
    --color-background-header: #193a62d8;
    --color-buttons: #a6fec1;
    --color-buttons-hover: #8cfaad;
    --color-fonts: #fdfdfd;
    --font-titulo: "Ubuntu", sans-serif;
    --font-texto: "Open Sans", sans-serif;
    --font-size: .8rem;
}

::placeholder {
    color: var(--color-background-header);
    opacity: 1;
}


/* DEFINICION DE VARIABLES */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: var(--color-background);
    color: var(--color-fonts);
    font-size: var(--font-size);
    font-family: var(--font-titulo);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header,
footer {
    display: flex;
    align-items: center;
    font-weight: 600;
    padding-left: .9em;
    padding-right: .9em;
    width: 100%;
    height: auto;
    box-shadow: .05em .05em .3em rgba(0, 0, 0, 0.715);
}

header {
    justify-content: center;
    top: 0;
    position: fixed;
    padding-top: .5em;
    padding-bottom: .8em;
    background-color: var(--color-background-header);
    text-align: center;
}

footer {
    justify-content: space-between;
    bottom: 0;
    position: fixed;
    background-color: var(--color-background-footer);
    color: var(--color-background);
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

main {
    display: flex;
    justify-content: center;
    text-align: left;
    font-family: var(--font-titulo);
    margin: 15vh 2em;
    height: 70vh;
    flex: 1;
    padding-top: calc(var(--header-height) + 1rem);
    padding-bottom: calc(var(--footer-height) + 1rem);
}

p {
    font-size: .8em;
}

textarea {
    background-color: rgba(224, 231, 246, 0.819);
    border-radius: .9em;
    height: 20em;
    width: 100%;
    padding: 1.5em;
    color: black;
    resize: none;
}

.buttons {
    display: flex;
    justify-content: center;
    font-family: var(--font-texto);
    font-weight: 600;

}

button {
    background-color: var(--color-buttons);
    margin: .8rem;
    padding: .8rem;
    border-radius: 1.2em;
    text-align: center;
    width: 9em;
    color: black;
}

button:hover {
    background-color: var(--color-buttons-hover);
    padding: 0.5em;
}

.logo-challenge {
    width: 20%;
}

.logo-alura-oracle {
    width: 40%;
}

#notification {
    visibility: hidden;
    background-color: var(--color-buttons);
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: .5em;
    padding: .8em;
    position: fixed;
    z-index: 1;
    bottom: 85%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 200px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0 .5em;
}

.icono {
    width: 50px;
    margin: .5em;
}

.icono:hover {
    cursor: pointer;
    background-color: #0c2c51;
    border-radius: 50%;
}

/* Dispositivos tabletas */
@media (min-width: 601px) {
    body {
        font-size: 1em;
    }

    button {
        margin: .5rem;
        padding: .5rem;
        border-radius: .5rem;
    }

    header,
    footer {
        display: flex;
        align-items: center;
        font-weight: 600;
        padding-left: .9em;
        padding-right: .9em;
        width: 100%;
        height: max-content;
        box-shadow: .05em .05em .3em rgba(0, 0, 0, 0.715);
    }

    .logo-alura-oracle {
        width: 35%;
    }

}

/* Dispositivos de escritorio */
@media (min-width: 901px) {
    body {
        font-size: 1.3em;
    }

    header,
    footer {
        justify-content: space-evenly;
    }

    .container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .buttons {
        display: block;
        justify-content: center;
    }

    .logo-alura-oracle {
        width: 30%;
    }

    #notification {
        visibility: hidden;
        background-color: var(--color-buttons);
        color: black;
        text-align: center;
        border-radius: .5em;
        padding: .8em;
        position: fixed;
        z-index: 1;
        bottom: 80%;
        left: 50%;
        transform: translateX(-50%);
        min-width: 200px;
    }

    .icono {
        width: 80px;
        margin: .5em;
    }

    p {
        font-size: 1em;
    }
}