@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* DEFINICION DE VARIABLES */
:root {
    --color-background: linear-gradient(to right, #061a32, #071a33, #0d1f37, #132d4d, #0c2c51);
    --color-background-cajas: #7b83aecd;
    --color-background-footer: #142336;
    --color-background-header: #193a62d8;
    --color-buttons: #a6fec1;
    --color-buttons-hover: #8cfaad;
    --color-fonts: #fdfdfd;
    --font-titulo: "Ubuntu", sans-serif;
    --font-texto: "Open Sans", sans-serif;
    --font-size: .8rem;
}

::placeholder {
    color: var(--color-background-header);
    opacity: 1;
}

/* DEFINICION DE VARIABLES */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: var(--color-background);
    color: var(--color-fonts);
    font-size: var(--font-size);
    font-family: var(--font-titulo);
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: .05em .05em .3em rgba(0, 0, 0, 0.573);
    background-color: var(--color-background-header);
    font-weight: 600;
}

.container {
    display: grid;
    grid-template-rows: 10% auto 10%;
    grid-template-areas:
        "header"
        "main"
        "footer";
    font-family: var(--font-titulo);
    height: 100%;
}


main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 5% auto 5%;
    gap: .5em;
    margin: .8em;
    flex: 1;
    padding-top: calc(var(--header-height));
    padding-bottom: calc(var(--footer-height));
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}

textarea {
    background-color: rgba(224, 231, 246, 0.819);
    border-radius: .7em;
    height: 65%;
    width: 100%;
    padding: .7em;
    color: black;
    resize: none;
}

#notification {
    visibility: hidden;
    background-color: var(--color-buttons);
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: .5em;
    padding: .8em;
    position: fixed;
    z-index: 1;
    bottom: 86%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
}


.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--font-texto);
    font-weight: 600;
}

button {
    background-color: var(--color-buttons);
    margin: .4rem;
    padding: .4rem;
    border-radius: .5em;
    text-align: center;
    width: 9em;
    color: black;
}

button:hover {
    background-color: var(--color-buttons-hover);
    padding: .4em;
}



.icono {
    width: 30px;
    margin: .5em;
}

.icono:hover {
    cursor: pointer;
    background-color: #0c2c51;
    border-radius: 50%;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5em;
    color: white;
    background-color: var(--color-background-footer);
    box-shadow: .05em .05em .3em rgba(0, 0, 0, 0.573);
}

footer a {
    text-decoration: none;
    color: inherit;
}

.logo-alura-oracle {
    width: 200px;
    height: auto;
    margin-bottom: .8em;
}

footer p {
    margin: .8em 0;
    font-size: .5em;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1em;
}

footer ul li {
    display: inline;
}

.icono {
    width: 60px;
}

/* Eliminar cualquier margen o padding del <a> */
footer a {
    margin: 0;
    padding: 0;
}



@media (min-width: 768px) {
    body {
        font-size: 1em;
    }

    main {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto
    }

    .container {
        display: grid;
        grid-template-rows: 15% auto 15%;
        grid-template-areas:
            "header"
            "main"
            "footer";
        height: 100vh;

    }

    .buttons {
        display: flex;
        flex-direction: column;

    }

    button {
        margin: .6em .2em;
        padding: .6;
    }

    textarea {
        height: 12em;
    }

    .logo-alura-oracle {
        width: 200px;
        height: auto;
        margin-bottom: .8em;
    }

    footer p {
        margin: .5em 0;
        font-size: 1em;
    }

    #notification {
        visibility: hidden;
        background-color: var(--color-buttons);
        color: rgb(0, 0, 0);
        text-align: center;
        border-radius: .5em;
        padding: .8em;
        position: fixed;
        z-index: 1;
        bottom: 80%;
        left: 50%;
        transform: translateX(-50%);
        min-width: 200px;
    }
}

@media (min-width: 968px) {
    body {
        font-size: 1.3em;
    }

    main {
        grid-template-columns: 2fr 1fr 2fr 1fr;
    }


    #notification {
        visibility: hidden;
        background-color: var(--color-buttons);
        color: rgb(0, 0, 0);
        text-align: center;
        border-radius: .5em;
        padding: .8em;
        position: fixed;
        z-index: 1;
        bottom: 78%;
        left: 50%;
        transform: translateX(-50%);
        min-width: 200px;
    }

    textarea {
        height: 20em;
    }

    .logo-alura-oracle {
        width: 300px;
        height: auto;
        margin-bottom: .8em;
    }

    footer p {
        margin: .8em 0;
        font-size: 1.2em;
    }
}