@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ******** RESET ******** */
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
}

input,
button,
textarea,
select {
    font: inherit;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

img,
video,
svg {
    height: auto;
    max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

/* ******** RESET ******** */
/*  DEFINICION DE VARIABLES  */
:root {
    --color-background: #2D3250;
    --color-background-cajas: #7077A1;
    --color-buttons: #f6872c;
    --color-fonts: #F6B17A;
    --font-titulo: "Roboto", sans-serif;
    --font-texto: "Open Sans", sans-serif;
    --font-size: 1.5rem;
}

::placeholder {
    color: var(--color-fonts);
    opacity: 1;
}

/*  DEFINICION DE VARIABLES  */

body {
    background-color: var(--color-background);
    color: var(--color-fonts);
    font-family: var(--font-titulo);
    font-size: var(--font-size);
}

header,
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 1em 2em;
}

input,
textarea {
    background-color: var(--color-background-cajas);
    height: 8em;
    width: 40%;
    padding: 1rem 1.5rem;
    margin: 2rem 0;
    box-sizing: border-box;
}


.buttons {
    display: flex;
    justify-content: center;
}

button {
    background-color: var(--color-buttons);
    margin: .8rem;
    padding: .8rem;
    border-radius: .5em;
}

#copy {
    width: 7em;
    align-self: center;
}

.logo-challenge {
    width: 40%;
}

@media only screen and (min-width: 768px) {

    .container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 2em;
    }

    .buttons {
        display: block;
        justify-content: center;
    }

    .resizable-input {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
        overflow: hidden;
        word-wrap: break-word;
        resize: none;
        /* Prevents manual resizing */
    }
}